* {
  box-sizing: border-box;
}

/* TYPOGRAFY */
@font-face {
  font-family: lato-Regular;
  src: url(font/lato/Lato-Regular.ttf);
}

@font-face {
  font-family: lato-Bold;
  src: url(font/lato/Lato-Bold.ttf);
}

@font-face {
  font-family: eurofurence;
  src: url(font/eurofurence/eurof55.ttf);
}

/* BASIC */

html {
  font-size: 13px;
  font-family: lato-Regular, sans-serif;
  color: #606060;
}

body {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: 400;
  padding: 0;
}

h2 {
  font-family: Eurofurence;
  font-size: 2.5rem;
}

h3 {
  font-family: lato-Bold;
  font-size: 1.75rem;
  text-transform: uppercase;
  color: #4f4e4e;
  padding-inline-end: 20px;
  /* padding-block-end: 50px; */
  padding-block-end: 35px;
}

p {
  margin: 0 0;
  padding: 0;
}

a {
  font-family: lato-Bold, sans-serif;
  color: #000;
  text-decoration: none;
}

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

/* LAYOUT */

.main-layout {
  max-width: 560px;
  /* max-width: 800px; */
  /* max-width: 980px; */
}

/* COMPONENTS */

/* header */

.main-header {
  width: 100%;
  justify-content: center;
  background-color: #292929;
}

.header-content {
  flex-basis: 560px;
  /* flex-basis: 980px; */
}

/* header nav */

.header-nav a {
  color: #ffffff;
  border-left: 1px solid #1d1d1d;
  border-bottom: 6px solid #1e1e1e;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 8.125em;
  height: 8.125em;
}

.header-nav a:hover {
  border-bottom: 6px solid #58c93a;
  color: #58c93a;
}

.header-nav a:last-child {
  border-right: 1px solid #1d1d1d;
}

.btn-menu {
  margin: 5px 10px;
  padding: 5px 10px;
  background-color: #818181;
  color: #e1e0e0;
}

/* MAIN CONTENT */

/* card */
.main-content > :first-child {
  padding-block-end: 80px;
  padding-block-start: 80px;
}

.card {
  flex-wrap: wrap;
  flex-direction: column;
  padding-block-end: 80px;
  border-right: 1px solid #e1e0e0;
  border-left: 1px solid #e1e0e0;
}

.card img {
  width: 100%;
  object-fit: contain;
  padding-inline-end: 20px;
  padding-inline-start: 20px;
}

/* card content */

.card-content {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-inline-start: 20px;
}

.card-content p {
  margin-inline-end: 25px;
  margin-block-end: 20px;
}

.card-content p:last-of-type {
  flex-grow: 1;
}

.card-content a {
  align-self: flex-start;
  border: 1px solid #c2c1c1;
  font-size: 1em;
  border-radius: 3em;
  color: #c2c1c1;
  line-height: 2.5em;
  padding: 0 1.56em;
}

.card-content a:hover {
  border: 2px solid #58c93a;
  color: #58c93a;
}

/* icon btn */
.btn-icon {
  padding-inline-start: 10px;
}

.card-content a:hover > .btn-icon {
  display: inline;
}

.card-content a > .btn-icon {
  display: none;
}

/* page nav */
.page-nav {
  height: 70px;
  align-items: center;
  border-right: 1px solid #e1e0e0;
  border-left: 1px solid #e1e0e0;
  border-top: 1px solid #e1e0e0;
}

.page-nav a {
  color: #818181;
  padding: 0 30px;
  text-transform: uppercase;
  font-size: 0.875rem;
  font-family: lato-Bold;
}

.page-nav a:hover {
  color: #58c93a;
}
/* FOOTER */
.main-footer {
  width: 100%;
  height: 315px;
  background-color: #f8f8f8;
  border-top: 1px solid #e1e0e0;
  padding-block-start: 80px;
}

.main-footer .icon {
  padding-block-end: 30px;
}

.footer-copyright {
  font-size: 0.8125rem;
  padding-block-end: 37px;
}

.copyright-link {
  font-family: lato-Bold;
}

.footer-links > * {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background-color: #e5e5e5;
  margin-inline-end: 20px;
}

.footer-links > *:nth-child(3) {
  margin-inline-end: 30px;
}

.footer-links li:hover {
  background-color: #516fad;
}

/* MODAL */

.modal {
  display: flex;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: blanchedalmond;
  padding: 25px;
  opacity: 0;
  transition: opacity 0.6s;
  pointer-events: none;
}

.modal .card-btn {
  align-self: center;
}
.modal .card-content {
  padding-inline-start: 0px;
  width: 100%;
}

.modal .card-content > *:not(:last-child) {
  padding-inline-end: 0px;
  padding-inline-start: 0px;
  margin-inline-end: 0px;
}

body.modal-open .modal {
  opacity: 1;
  pointer-events: auto;
}

body.modal-open .darker-screen {
  opacity: 1;
  pointer-events: auto;
}

/* HELPERS */

/* flex */
.flex {
  display: flex;
}

.justify-space-between {
  justify-content: space-between;
}
.justify-center {
  justify-content: center;
}

.align-items {
  align-items: center;
}

.flex-direction-col {
  flex-direction: column;
}

/* colors */
.light {
  color: #ffffff;
}
.dark {
  color: #292929;
}
.green {
  color: #58c93a;
}

/* RESPONIVE */

@media (max-width: 820px) {
  .header-nav {
    position: fixed;
    right: 0;
    top: 0;
    height: 100vh;
    flex-direction: column;
    background-color: rgba(41, 41, 41, 0.97);
    width: 230px;
    transform: translateX(100%);
    transition: transform 0.6s;
  }
  .header-nav a {
    width: 100%;
    height: 7.125em;
  }

  body.list-open .header-nav {
    transform: translateX(0);
  }

  .darker-screen {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    opacity: 0;
    transition: opacity 0.6s;
    cursor: pointer;
    pointer-events: none;
  }

  body.list-open .darker-screen {
    opacity: 1;
    pointer-events: auto;
  }
}

/* medium */
@media (min-width: 820px) {
  h3 {
    padding-inline-end: 80px;
  }
  .btn-menu {
    display: none;
  }

  .card {
    flex-direction: row;
  }

  .card img {
    width: 50%;
    padding-inline-start: 0px;
  }

  .card-content {
    width: 50%;
    padding-inline-start: 20px;
  }

  .main-layout {
    max-width: 800px;
  }
  .header-content {
    flex-basis: 800px;
  }
}

/* large */
@media (min-width: 1100px) {
  html {
    font-size: 16px;
  }
  .main-layout {
    max-width: 980px;
  }
  .header-content {
    flex-basis: 980px;
  }
  h3 {
    padding-block-end: 50px;
  }
}
